[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
torch = "*"
matplotlib = "*"
pandas = "*"
scikit-learn = "*"
jupyter = "*"
numpy = "*"
tqdm = "*"

[requires]
python_version = "3.10"
